{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row my-4">
            <div class="col-lg-8">
                <img class="img-fluid rounded" src="{{ asset('uploads/How-To-choose-right-pet.jpg') }}" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <h1>Pet shop</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it,
                    but it makes a great use of the standard Bootstrap core components. Feel free to use this template
                    for any project you want!</p>
                {% if app.user %}
                    <a class="btn btn-primary btn-lg" href="{{ path('user_details', {'id': app.user.id}) }}">Go to
                        profile</a>
                {% else %}
                    <a class="btn btn-primary btn-lg" href="{{ path('user_register') }}">Register</a>
                    <a class="btn btn-primary btn" href="{{ path('security_login') }}">Login</a>
                {% endif %}
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">Here are all type of offers</p>
            </div>
        </div>

        <!-- Content Row -->
        {# @var \AppBundle\Entity\Offer offer #}
        <div class="row">
            {% for offer in offers %}

                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{ offer.title }}</h2>
                            <img class="card-img-top" height="200px"
                                 src="{{ asset('uploads/') ~ offer.animal.picture }}"
                                 alt="Card image cap">
                            <span class="card-title"><small>type: </small> {{ offer.category.name }}</span>
                            {% if app.user %}
                                <hr>
                                <a class="btn btn-primary btn" href="{{ path('offer_details', {'id': offer.id}) }}">Details</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
