{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center pt-5 pb-5">
        <h2>Wellcome to admin panel and here are all the users. You can click on them for details and offers</h2>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Total offers</th>
            <th scope="col">Details</th>
            <th scope="col">Offers</th>
        </tr>
        </thead>
        <tbody>
        {# @var \AppBundle\Entity\User user#}
        {% for key , user in allUsers|sort %}
            {% if user.email != 'helper' %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.offers|length }}</td>
                <td><a href="{{ path('admin_user_details', {'id': user.id}) }}" class="btn btn-success" type="submit">Details</a></td>
                <td><a href="{{ path('admin_all_user_offers', {'userId': user.id}) }}" class="btn btn-success" type="submit">Offers</a></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}