{% include 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-5">
            <div class="form-area">
                <form id="form" role="form" method="post" enctype="multipart/form-data">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
                    <div class="form-group col-md-8">
                        <label for="category">Category</label>
                        <select name="offer[category]" id="category" class="form-control">
                            {% for category in categories %}
                                {% if offer.category.id == category.id %}
                                    <option selected value="{{ category.id }}">{{ category.name }}</option>
                                {% else %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputState">AnimalCategory</label>
                        <select name="offer[animalType]" id="inputState" class="form-control">
                            {% for animalCategory in animalCategories %}
                                {% if offer.animalType.id == animalCategory.id %}
                                    <option selected value="{{ animalCategory.id }}">{{ animalCategory.name }}</option>
                                {% else %}
                                    <option value="{{ animalCategory.id }}">{{ animalCategory.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% if offer.price %}
                        <div class="form-group">
                            <input required value="{{ offer.price }}" type="text" class="form-control" id="price"
                                   name="offer[price]" placeholder="Price">
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <input value="{{ offer.title }}" type="text" class="form-control" id="title" name="offer[title]"
                               placeholder="Title">
                    </div>
                    <div class="form-group">
                        <input value="{{ offer.animal.name }}" type="text" class="form-control" id="animalName"
                               name="animal[name]"
                               placeholder="Animal Name">
                    </div>
                    <div class="form-group">
                        <input value="{{ offer.animal.breed }}" type="text" class="form-control" id="animalBreed"
                               name="animal[breed]"
                               placeholder="Animal Breed"
                        >
                    </div>
                    <div class="form-group">
                        <input value="{{ offer.animal.age }}" type="number" class="form-control" id="animalAge"
                               name="animal[age]"
                               placeholder="Animal Age"
                        >
                    </div>
                    <div class="form-group">
                        <input value="{{ offer.animal.picture }}" type="file" accept=".jpg, .png" class="form-control"
                               id="animalImage"
                               placeholder="Animal Image"
                               name="animal[picture]">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="animal[description]" id="description" placeholder="Message"
                                  maxlength="140"
                                  rows="7">{{ offer.animal.description }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Edit
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block someJS %}
    <script>
        $("#category").on('change', () => {
            let catVal = parseInt($('#category').val());
            let nameInput = $('#animalName');
            let priceInput = $('#price');
            if (catVal === 4) {
                nameInput.prop('hidden', true);
                priceInput.prop('hidden', true);
            } else if (catVal === 3) {
                nameInput.prop('hidden', false);
                priceInput.prop('hidden', true);
            } else if (catVal === 1 || catVal === 2) {
                if (priceInput) priceInput.prop('hidden', true);
                let el = $('<div class="form-group">\n' +
                    '<input required type="text" class="form-control" id="price"\n' +
                    'name="offer[price]" placeholder="Price">\n' +
                    '</div>');
                let form = $('#form div:eq(2)').after(el);
            } else {
                nameInput.prop('hidden', false);
                priceInput.prop('hidden', true);
            }
        })
    </script>
{% endblock %}

{% block extraCSS %}
    <style>
        .form-area {
            background-color: #FAFAFA;
            padding: 10px 40px 60px;
            margin: 10px 0 60px;
            border: 1px solid GREY;
        }
    </style>
{% endblock %}

