{% extends 'base.html.twig' %}

{% block body %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{ msg }}
        </div>
    {% endfor %}
    {# @var \AppBundle\Entity\User user #}
    <div id="card" class="card border-success row justify-content-center mt-5" style="max-width: 60%;">
        <div class="card-header bg-transparent border-success">User Details</div>
        <div class="card-body text">
            <h5 class="card-title text-center">E-mail</h5>
            <p class="card-text text-center">{{ user.email }}</p>
            <hr>
            <h5 class="card-title text-center">First Name</h5>
            <p class="card-text text-center">{{ user.name }}</p>
            <hr>
            {% if user.details is not null%}
            <h5 class="card-title text-center">Last Name</h5>
            <p class="card-text text-center">{{ user.details.lastName }}</p>
            <hr>
            <h5 class="card-title text-center">Town</h5>
            <p class="card-text text-center">{{ user.details.town }}</p>
            <hr>
            <h5 class="card-title text-center">Street Address</h5>
            <p class="card-text text-center">{{ user.details.streetAddress }}</p>
            <hr>
            <h5 class="card-title text-center">Age</h5>
            <p class="card-text text-center">{{ user.details.age }}</p>
            <hr>
            <h5 class="card-title text-center">Description</h5>
            <p class="card-text text-center">{{ user.details.details }}</p>
            {% else %}
                <h5 class="card-title text-center">You can add more information about yourself
                    <a href="{{ path('user_details_edit', {'id': user.id}) }}">here</a></h5>
            {% endif %}
        </div>
        <div class="card-footer bg-transparent border-success">
            <a href="{{ path('user_details_edit', {'id': user.id}) }}">Edit profile</a>
        </div>
    </div>
    <style>
        #card {
            margin-left: 20%;
        }
    </style>
{% endblock %}